.Hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--hex-height);
  width: var(--hex-width);
  margin: var(--hex-border) 0;
  position: relative;
  cursor: pointer;

  &:after,
  &:before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
  }

  &:after {
    border-top: var(--hex-border) solid;
    top: 100%;
  }

  &:before {
    border-bottom: var(--hex-border) solid;
    bottom: 100%;
  }

  &:nth-child(4n + 3),
  &:nth-child(4n + 4),
  &:nth-child(4n + 7),
  &:nth-child(4n + 8) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
  }

  &:hover {
    background-color: black;
    &:before {
      border-bottom-color: black;
    }
    &:after {
      border-top-color: black;
    }
  }
}

.Hexagon__text {
  font-size: 15px;
  color: white;
  text-align: center;
}

.Hexagon--red {
  background-color: red;
  &:before {
    border-bottom-color: red;
  }
  &:after {
    border-top-color: red;
  }
}

.Hexagon--blue {
  background-color: blue;
  &:before {
    border-bottom-color: blue;
  }
  &:after {
    border-top-color: blue;
  }
}

.Hexagon--green {
  background-color: green;
  &:before {
    border-bottom-color: green;
  }
  &:after {
    border-top-color: green;
  }
}

.Hexagon--orange {
  background-color: orange;
  &:before {
    border-bottom-color: orange;
  }
  &:after {
    border-top-color: orange;
  }
}

.Hexagon--pink {
  background-color: pink;
  &:before {
    border-bottom-color: pink;
  }
  &:after {
    border-top-color: pink;
  }
}
